@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Flickr.Models.Photo

<h2>Add a New Photo</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    <form method="post" asp-action="UserPage" asp-controller="Flickr" enctype="multipart/form-data">
        @*@Html.LabelFor(model => model.Image)
            @Html.EditorFor(model => model.Image)*@

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>
}


@Html.ActionLink("Back to Profile", "Index")