@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Flickr.Models.Photo

<h2>Add a New Photo</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)
    
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to Profile", "Index")