@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Flickr.Models.Photo

<h2>Add a New Photo</h2>
<hr />
@using (Html.BeginForm("Create", "Flickr", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(model => model.Title)

    @Html.EditorFor(model => model.Title)

        
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
        <input type="file" id="files" name="files" />
        <input type="submit" value="Upload" />
  
}


@Html.ActionLink("Back to Profile", "Index")